.actions {
    position: fixed;
    top: 70%;
    right: 30%;
    z-index: 5;
    button {
        margin-left: 5px;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 50%;
        background: none;
        padding: 0px 20px;
        font-size: 20px;
        font-family: inherit;
        cursor: pointer;
        box-shadow: 0px 0px 10px black;
        background: whitesmoke;
        opacity: 0.9;
    }
}