

.main-wrapper {
    box-sizing: inherit;
    position: relative;
    min-height: 100vh;
}
.header {
    width: 100%;
    text-align: center;
    z-index: 1;
}

.main-content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer {
    width: 100%;
}